div.container.main-about
    h1 Ветбиохим —
    p это разработка и производство высококачественных безопасных лекарственных препаратов, обеспечивающих защиту человека и&nbsp;животных от болезней и&nbsp;создание благополучной эпизоотической обстановки в нашей стране
    a(href="#") Подробнее о нас