html, body {
  height: 100%;
  font-family: 'Lab Grotesque', sans-serif;
}
body {
  color: $primary-text;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, h3, h4 {
  letter-spacing: 1px;
  margin: 0;
}
h1 {
  font-weight: 600;
}

p {
  line-height: 1.3;
  margin: 0;
}
