$mobile-width: "min-width:544px";
$tablet-width: "min-width:768px";
$desktop-width: "min-width:1200px";
//$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
//
//
//$light-gray: #f2f3f5;
//$green-color: #07A247;
//$dark-green: #236f43;
//$dark-gray: #425b67;

$primary-text: #121213;
$gray-color: #a3afb2;
$gray-light: #eaeced;

$bgndColor: #ffffff;
//$primary-text: #000000;
$accent-color: #ff6e00;

