html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title= "wp pug"
        link(rel='stylesheet' href='./style/style.css')
    body
        div.wrapper
            include modules/header
            div.content
                include modules/main/main-video
                include modules/main/about
            include modules/footer